
<div class="burger">
  <form>
  {{id}}. {{burger_name}}
  {{#unless devoured}}<button type="submit" data-id="{{id}}"class="devour">Devour!  <i class="fa fa-hand-lizard-o" aria-hidden="true"></i></button></form>{{/unless}}
</div>
